@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css); 

body {
    font-family: 'Fira Code', monospace;
    background-color: rgb(246, 233, 178);
    text-align:center
}

h1 {
    color: rgb(10, 104, 71);
}

h2 {
    color: rgb(122, 186, 120);
    font-weight: 100;
}

p {
    color: rgb(0, 0, 0);
    font-weight: 100;
}

#canvas_div {
    display: flex;
    justify-content: center;
    margin: 30px;
}

button {
    display:block;
    margin: 0 auto;
    width: 30%;

    font-family: 'Fira Code', monospace;
    font-size: 16px;

    background-color: rgb(243, 202, 82);
    color: rgb(10, 104, 71);

    border-radius: 4px;
    border: 2px solid rgb(10, 104, 71);

    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(246, 233, 178);
}

